/* CSS Document */

.msgTextArea
{
    width: 97%;
    height: 80px;
}


.commentTextArea
{
    width: 98%;
    height: 40px;
}

.publishContainer
{
    display:block;
    text-align: right;
     background-color: #EEF1F6;
    border-color: white;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    padding: 1em 1.2em ;
    margin-bottom:2em;
}

.publishComment
{
	margin-left:-8px;
    text-align: right;
    width: 102%;
    display: none;
}

#msgHolder
{
    width: 65%;
}

    #msgHolder img
    {
        float: left;
        margin-right: 7px;
    }

    #msgHolder a
    {
        text-decoration: none;
        color: #015BA7;
    }

        #msgHolder a:hover
        {
            text-decoration: underline;
        }

.postHolder
{
    margin: 5px;
}

.postFooter
{
    font-size: 0.85em;
	color: #7D7D84;
}



.commentHolder
{
	margin-left:-40px;
    background-color: #EEF1F6;
    padding: 5px;
    border-bottom: 1px solid #DEE5EA;
    border-top: 1px solid white;
    list-style:none;
}


.post-profile
{
	margin-left:50px;
	}

.img-small
{
	width:50px;
	height:50px;
}

.img-medium
{
	width:100px;
	height:100px;
}